{% block content %}
<h1> Select a date range </h1>
<form action="" method='POST' name="myform">
    {{ form.csrt_token }}
    {{ form.startdate.label }}:  {{form.startdate(class='datepicker')}} {{form.hidden_tag()}}
    {{ form.enddate.label }}:  {{form.enddate(class='datepicker')}} {{form.hidden_tag()}}
    <p>
    {{form.submit()}}
    </p>
</form>
<br>
{% if session['end_date'] and session["start_date"] %}
  Date range {{session.start_date}} to {{session.end_date}} is selected
    {% else %}
    {% endif %}

  {% endblock %}