{% block pagestyles %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block content %} 

<form class="form-inline" method="POST" action="{{ url_for('timeline_bp.main') }}" id="dropdown_form">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
<select class="js-example-basic-single" name="dropdown_menu" id='dropdown_id' style="width: 25%">
  <option></option>
  {% for person in natal_chart %}
    <option value= "{{person.id}}">{{person.contact_name}}</option>"
  {% endfor %}
      {% for error in choice_form.contact_name.errors %}
      <span class="label label-danger">{{ error }}</span>
      {% endfor %}
      <input type="hidden" name="security_token" value="123">
  </select>
</form>

<br>

{% if session['contact_name'] %}
  {{session.contact_name}} is selected
    {% else %}
    {% endif %}

{% endblock %} 

{% block additionalscripts %}
<script>
$(document).ready(function() {
  $selectElement = $('select').select2({
    placeholder: "Please select a person",
    allowClear: true
  });
});

$('#dropdown_id').change(function(){
    $('#dropdown_form').submit();
});

</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock %}
