{% extends 'layout.jinja2' %}

{% block pagestyles %}
  <link rel="stylesheet" href="{{url_for('static',filename='src/style.css')}}">
{% endblock %}

{% block content %}
 <div>
    {% include 'navigation.jinja2' %}

<div class="min-h-screen">
  <div class="mt-12 text-xl w-11/12 flex justify-center flex-col item-center mx-auto">
    Account Info:
    <div class="mt-6 rounded bg-pink-200">
    <div class="text-xl mt-6 mb-6 px-12">
      Name: <span class="font-bold">{{current_user.name}}</span>
      <br>
      Plan: <span class="font-bold">{{current_user.plan}}</span>
      <br>
       {%if user_chart %}
        My Bazi Chart: <span class="font-bold">{{user_chart.hour_s}} {{user_chart.hour_e}},
      {{user_chart.day_s}} {{user_chart.day_e}},
      {{user_chart.month_s}} {{user_chart.month_e}},
      {{user_chart.year_s}} {{user_chart.year_e}}</span>
      {%else%}
        My Bazi Chart: <span class="italic">(Empty. Add Your Own Chart First.)</span>
      {%endif%}
   </div> 
   </div> 

   <div class="text-xl mt-6">
    <hr>
    </div>

      {% for category, message in get_flashed_messages(with_categories=true) %}
        {%if category == "info" %} 
          <div class="alert text-green-700 bg-green-100 border border-green-400 text-left rounded pb-3 pt-2 px-4">
            <button type="button" class="close text-2xl" data-dismiss="alert">&#10003;</button>
        
        {%elif category == "error"%}
          <div class="alert text-red-700 bg-red-100 border border-red-400 text-left rounded pb-3 pt-2 px-4">
            <button type="button" class="close text-2xl" data-dismiss="alert">&times;</button>
        
        {%endif%}    
          {{ message }} 
          </div>
        {% endfor %}

    <div class="text-xl mt-6">
    Add New Chart:
    </div>

    <span class="text-lg mt-2 italic">Time of Birth:</span>
    <div class="text-lg mt-6 mb-6 bg-pink-200 rounded px-12 h-full">
      <div class="">
      Hello World
      </div>
    </div>

   <span class="text-lg italic">Manual Input:</span>
   <div class="text-lg mt-6 bg-pink-200 rounded px-12 h-full">
      <div class="">
      <form method="POST" action="">

        <div class="mt-10">
         {{ form.name.label(class_="text-xl rounded") }}:
         {{ form.name(class_="text-xl rounded") }}

         {{ form.my_own_chart_checkbox(class_="text-l rounded-xl")  }}
         {{ form.my_own_chart_checkbox.label(class_="text-xl rounded") }}
         </div>

      <div class="w-11/12 flex md:flex-row flex-col justify-between md:mt-12 mt-4">
        
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="mt-8 md:mt-0">
          <div class="form-field" style="width: 100%">
              {{ form.hour_stem.label(class_="text-xl rounded") }}:
              {{ form.hour_stem(class_="text-xl rounded") }}
          </div>

          <div class="form-field md:mt-12 mt-8">
              {{ form.hour_branch.label(class_="text-xl rounded") }}:
              {{ form.hour_branch(class_="text-xl rounded") }}
          </div>
        </div>
  
        <div class="mt-8 md:mt-0">
          <div class="form-field">
              {{ form.day_stem.label(class_="text-xl rounded") }}:
              {{ form.day_stem(class_="text-xl rounded") }}
          </div>

          <div class="form-field md:mt-12 mt-8">
              {{ form.day_branch.label(class_="text-xl rounded") }}:
              {{ form.day_branch(class_="text-xl rounded") }}
          </div>
        </div>

        <div class="mt-8 md:mt-0">
          <div class="form-field">
              {{ form.month_stem.label(class_="text-xl rounded") }}:
              {{ form.month_stem(class_="text-xl rounded") }}
          </div>

          <div class="form-field md:mt-12 mt-8">
              {{ form.month_branch.label(class_="text-xl rounded") }}:
              {{ form.month_branch(class_="text-xl rounded") }}
          </div>
        </div>

        <div class="mt-8 md:mt-0">
          <div class="form-field">
              {{ form.year_stem.label(class_="text-xl rounded") }}:
              {{ form.year_stem(class_="text-xl rounded") }}
          </div>

          <div class="form-field md:mt-12 mt-8">
              {{ form.year_branch.label(class_="text-xl rounded") }}:
              {{ form.year_branch(class_="text-xl rounded") }}
          </div>
        </div>

      </div class="">
          <div class="form-field mt-10 mb-12">
          {{ form.submit(class_="bg-indigo-400 inline-flex text-white bg-indigo-400 border-0 py-6 px-8 sm:py-4 sm:px-6 focus:outline-none hover:text-black rounded text-xl") }}
          </div>
      
      </form>
    </div>
    </div>

  </div>
</div>

<div class="mt-8">
  {% include 'footer_bottom.jinja2' %}
   </div>

</div>
{% endblock %} 

{% block additionalscripts %}
{% endblock %}

