{% extends 'layout.jinja2' %}

{% block pagestyles %}
  <link rel="stylesheet" href="{{url_for('static',filename='src/style.css')}}">
{% endblock %}

{% block content %}
 <div>
    {% include 'navigation.jinja2' %}

  <div class="md:flex md:space-x-4 mt-8 mx-6">
  {% include 'spinner.jinja2' %} 
  </div> 

  <div class="mt-4 h-screen flex justify-center">
    <div class="w-11/12 text-lg">
  <b>Account Info:</b>
  <br>
  <br>
  Name: {{current_user.name}}
  <br>
  Plan: {{current_user.plan}}
   </div>
</div>

<div class="mt-8">
  {% include 'footer_bottom.jinja2' %}
   </div>

</div>
{% endblock %} 

{% block additionalscripts %}
{% endblock %}

