{% extends 'layout.jinja2' %}

{% block pagestyles %}
  <link rel="stylesheet" href="{{url_for('static',filename='src/style.css')}}">
{% endblock %}

{% block content %}
 <div class="font-serif">
    {% include 'navigation.jinja2' %}

  <div class="md:flex md:space-x-4 mt-8 mx-6 font-hn">
  {% include 'spinner.jinja2' %} 

  </div> 

      <div class="md:pr-4 md:w-4/6 pr-3 flex-shrink-0">
        {# {% include 'chart.jinja2' %} #}
      </div>
  </div>

<div class="mt-8 font-hn">
  Brand New Web App Here!

<h3> Select a date range </h3>
<form action="" method='POST' name="myform">
    {{ form.csrt_token }}
    {{ form.startdate.label }} {{form.startdate(class='datepicker')}} {{form.hidden_tag()}}
    {{ form.enddate.label }} {{form.enddate(class='datepicker')}} {{form.hidden_tag()}}
    <p>
    {{form.submit()}}
    </p>
</form>

<h4>Start Date is: {{session['startdate']}}</h4>
<h4>End Date is: {{session['enddate']}}</h4>



   </div>

<div class="mt-8">
  {% include 'footer.jinja2' %}
   </div>

</div>
{% endblock %} 

