<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>{{ title }}</title>
  <meta name="HandheldFriendly" content="True"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
  <meta name="theme-color" content="#5eb9d7"/>
  {# <link rel="shortcut icon" href="{{ url_for('static', filename='dist/img/logo-color.png') }}" type="image/x-icon"/> #}
  <meta name="description" content="Bazi Tool for personalised advice."/>
  <meta property="og:site_name" content="Bazi Algorithms"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="Bazi Algorithms "/>
  <meta property="og:description" content="Bazi Tool for Hacking Life - Career, Business, Love, Parenting, Health."/>
  {% block pagestyles %}{% endblock %}
</head>

<body class="block">
<div>
  {% block content %}{% endblock %}
</div>
{% block additionalscripts %}
<script src="{{ url_for('static', filename='dist/js/main.min.js') }}"></script>
{% endblock %}
</body>

</html>
