 {% block content %} 
{% endblock %} 

{% block additionalscripts %}
<script>


</script>

{% endblock %}

<style type="text/css">
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup {
    margin:auto;
    min-height:50px;
    max-height:50px;
    height:50px;
    width:300px;
}

.size {
    height: 400px;
    width: 350px;
}
</style>