{% block pagestyles %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
{% endblock %}

  {% block content %}
    {# <canvas id="timelineChart" width="600" height="400"></canvas> #}
    <canvas id="timelineChart"></canvas>
  {% endblock %}

{% block additionalscripts %}
<script>
Chart.defaults.global.responsive = true;

var ctx = document.getElementById('timelineChart');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [{% for item in labels %}
                   "{{item}}",
                  {% endfor %}],

        datasets: [{
            label: 'Combine Score',
            data: [{% for item in data %}
                      {{item["e_combine"]}},
                    {% endfor %}],
            fill: false,
            borderColor: "rgba(0,192,192,1)",
            backgroundColor: "rgba(75,192,192,0.4)",
            borderCapStyle: 'butt',
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(0,192,192,1)",
            pointHoverBorderWidth: 4,
            pointRadius: 1,
            pointHitRadius: 20,
            borderWidth: 1,

        },

        {
            label: 'Rolling Average',
            data: {{rolling_data}},
            fill: false,
            borderColor: '#FF0000',
            backgroundColor: '#FF0000',
            borderCapStyle: 'butt',
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(0,192,192,1)",
            pointHoverBorderWidth: 4,
            pointRadius: 1,
            pointHitRadius: 20,
            borderWidth: 1,

        },

        {
            label: 'Average Combine Score',
            data: {{avg_combine}},
            fill: false,
            borderColor: "rgba(0,192,192,1)",
            backgroundColor: "rgba(75,192,192,0.4)",
            borderCapStyle: 'butt',
            borderJoinStyle: 'miter',
            borderDash: [10,5],
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(0,192,192,1)",
            pointHoverBorderWidth: 4,
            pointRadius: 1,
            pointHitRadius: 20,
            borderWidth: 1
        },

        {
            label: 'Clash Score',
            data: [{% for item in data %}
                      {{item["e_clash"]}},
                    {% endfor %}],
            fill: false,
            borderColor: '#FF0000',
            backgroundColor: '#FF0000',
            borderCapStyle: 'butt',
            borderJoinStyle: 'miter',
            pointBorderColor: '#FF0000',
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: '#FF0000',
            pointHoverBorderColor: '#FF0000',
            pointHoverBorderWidth: 4,
            pointRadius: 1,
            pointHitRadius: 20,
            borderWidth: 1
        }
        ]
    },
    options: {
        annotation: {
        annotations: [
          {
            drawTime: "afterDatasetsDraw",
            type: "line",
            mode: "vertical",
            scaleID: "x-axis-0",
            value: "2021-06-14",
            borderWidth: 20,
            borderColor: "red",
            label: {
              content: "TODAY",
              enabled: true,
              position: "top"
            }
          }
        ]
      },
        legend: {
    	display: true
        },
        scales: {
            yAxes: [{
                ticks: {
                    fontColor:["black"],
                    beginAtZero: true,
                    suggestedMax: 20,
                    fontSize: 18,
                    callback: function(value){return value}
                },
                scaleLabel: {
                   display: true,
                   fontSize: 18,
                   fontColor: ["black"],
                   labelString: "Clashes & Combines"
                },
                gridLines: {
                    color: "#000000"
                },
            }],
            xAxes: [{
                ticks: {fontSize: 18, fontColor: ["black"]},
                scaleLabel: {
                   display: true,
                   fontSize: 18,
                   fontColor: ["black"]
                }}],
        }
    }
});

</script>

{% endblock %}


