{% block pagestyles %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
{% endblock %}

  {% block content %}

    <div class="w-11/12 mx-auto min-h-500">
    <canvas id="timelineChart"></canvas>
    </div>
  {% endblock %}

{% block additionalscripts %}
<script>
Chart.defaults.global.responsive = true;

var ctx = document.getElementById('timelineChart');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [{% for item in labels %}
                   "{{item}}",
                  {% endfor %}],

        datasets: [{
            label: 'Combine Score',
            data: [{% for item in data %}
                      {{item["e_combine"]}},
                    {% endfor %}],
            fill: false,
            hidden: true,
            borderColor: "#223127",
            backgroundColor: "#223127",
            borderCapStyle: 'butt',
            borderJoinStyle: 'miter',
            pointBorderColor: "#223127",
            pointBackgroundColor: "#223127",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "#223127",
            pointHoverBorderColor: "#223127",
            pointHoverBorderWidth: 4,
            pointRadius: 1,
            pointHitRadius: 20,
            borderWidth: 1,

        },
        {
            label: 'Rolling Average Combine Score',
            data: {{rolling_data}},
            fill: false,
            borderColor: '#5bb416',
            backgroundColor: '#5bb416',
            borderCapStyle: 'butt',
            borderJoinStyle: 'miter',
            pointBorderColor: "#5bb416",
            pointBackgroundColor: "#5bb416",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "#5bb416",
            pointHoverBorderColor: "#5bb416",
            pointHoverBorderWidth: 4,
            pointRadius: 1,
            pointHitRadius: 20,
            borderWidth: 1,

        },
        {
            label: 'Rolling Average CPDH (Clash, Punishment, Destruction, Harm) Score',
            data: {{rolling_data_clash}},
            fill: false,
            borderColor: '#FF7F7F',
            backgroundColor: '#FF7F7F',
            borderCapStyle: 'butt',
            borderJoinStyle: 'miter',
            pointBorderColor: '#FF7F7F',
            pointBackgroundColor: "#FF7F7F",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: '#FF7F7F',
            pointHoverBorderColor: '#FF7F7F',
            pointHoverBorderWidth: 4,
            pointRadius: 1,
            pointHitRadius: 20,
            borderWidth: 1
        },
        {
            label: 'Average Combine Score',
            data: {{avg_combine}},
            fill: false,
            hidden: true,
            borderColor: "#2f5c0b",
            backgroundColor: "#2f5c0b",
            borderCapStyle: 'butt',
            borderJoinStyle: 'miter',
            borderDash: [10,5],
            pointBorderColor: "#2f5c0b",
            pointBackgroundColor: "#2f5c0b",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "#2f5c0b",
            pointHoverBorderColor: "#2f5c0b",
            pointHoverBorderWidth: 4,
            pointRadius: 1,
            pointHitRadius: 20,
            borderWidth: 1
        },
        {
            label: 'CPDH (Clash, Punishment, Destruction, Harm) Score',
            data: [{% for item in data %}
                      {{item["e_clash"]}},
                    {% endfor %}],
            fill: false,
            hidden: true,
            borderColor: '#FF0000',
            backgroundColor: '#FF0000',
            borderCapStyle: 'butt',
            borderJoinStyle: 'miter',
            pointBorderColor: '#FF0000',
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: '#FF0000',
            pointHoverBorderColor: '#FF0000',
            pointHoverBorderWidth: 4,
            pointRadius: 1,
            pointHitRadius: 20,
            borderWidth: 1
        }
        ]
    },
    options: {
        annotation: {
        annotations: [
          {
            drawTime: "afterDatasetsDraw",
            type: "line",
            mode: "vertical",
            scaleID: "x-axis-0",
            value: "2021-06-14",
            borderWidth: 20,
            borderColor: "red",
            label: {
              content: "TODAY",
              enabled: true,
              position: "top"
            }
          }
        ]
      },
        legend: {
    	display: true
        },
        scales: {
            yAxes: [{
                ticks: {
                    fontColor:["black"],
                    beginAtZero: true,
                    suggestedMax: 5,
                    fontSize: 18,
                    callback: function(value){return value}
                },
                scaleLabel: {
                   display: true,
                   fontSize: 18,
                   fontColor: ["black"],
                   labelString: "Clashes & Combines"
                },
                gridLines: {
                    color: "#e2e2e2"
                },
            }],
            xAxes: [{
                ticks: {fontSize: 18, fontColor: ["black"]},
                scaleLabel: {
                   display: true,
                   fontSize: 18,
                   fontColor: ["black"]
                }}],
        }
    }
});

</script>

{% endblock %}


