{% extends 'layout.jinja2' %}

{% block pagestyles %}
  <link rel="stylesheet" href="{{url_for('static',filename='src/style.css')}}">
{% endblock %}

{% block content %}
 <div class="font-serif">
  {% include 'navigation.jinja2' %}

  <div class="my-10">
  {% include 'dropdown_search.jinja2' %} 
  </div> 

  <div class="my-10">
  {% include 'date.jinja2' %}
  </div> 

  Session Data:
  {{session["contact_name"]}}
  {{session["start_date"]}}
  {{session["end_date"]}}

  {{r}}

  <div class="my-10">
  {% include 'chart_2.jinja2' %}
  </div>

<div class="mt-8">
  {% include 'footer.jinja2' %}
   </div>

</div>

{% endblock %} 

{% block additionalscripts %}
{% endblock %}
