{% extends 'layout.jinja2' %}

{% block pagestyles %}
  <link rel="stylesheet" href="{{url_for('static',filename='src/style.css')}}">
{% endblock %}

{% block content %}

  <div class="min-h-screen">
<img class ="object-contain w-full mx-auto" src="{{ url_for('static', filename='src/img/nft_page_header.png') }}" alt="nft_page_header">

    <div class="m-10 text-3xl">
      The BaziVerse NFT Collection
      <br>
      <span class="text-2xl"><i>Journey through Metaphysical Spacetime</i></span>
      <br>
      <br>
      
    <span class="text-lg">
    By combining AI algorithms with traditional alchemy, <b>The BaziVerse</b> represents the infinite cycle of spacetime through the lens of astrology.
    <br>
    <br>
    In ancient China, the five elements - water, wood, fire, earth, and metal - were regarded as central to Chinese Metaphysics. 
    After generations of study, the 5 elements were further melded to form 60 distinct energy pillars. Based on star positions in our solar system, these pillars are believed to symbolize all matter in our universe. 
    <br>
    <br>
    <i>Can these 60 energies represent all that exists?</i>
    <br>
     <div class="w-1/2 mt-12 mx-auto text-center min-w-48">
    <a href="https://rarible.com/baziverse/items" target="_blank" class="flex-shrink-0 text-white bg-indigo-500 border-0 py-2 md:px-16 px-2 focus:outline-none hover:bg-indigo-600 rounded text-xl whitespace-nowrap">See Rarible Collection</a>
    </div>
    <br>
    <span class="text-3xl">
      Astrology Charts As Art
      </span>
      <br>
      <br> 
      <span class="text-lg">
      Most astrology charts are unintelligible to the layman, filled with complex characters, arrows, and symbols. 
      <br>
      <br> 
      Due to the associative nature of the Bazi, people often take readings too literally - usually out of context.  
      As opposed to actual events that occur, emphasis is placed on understanding the underlying energy signature. 
      Good and bad are relative, hence the popular saying "there is a silver lining to every situation".
      <br>
      <br> 
      With <b>The BaziVerse</b>, viewers can simply take in the visual splendor of brilliant colors in each pillar, focusing on the beauty of each individual, each experience, and each moment.
      <br>
      <br> 
      In Chinese Metaphysics, one's Bazi chart depicts their fate - the external energies they are influenced by for life. The way one responds to such energies defines their character. Together, fate and character make up one's destiny.
      Understanding and acceptance make it possible to rewrite our destiny (改运) .
      <br>

      </span>
      </div>

      <img class ="object-contain w-full mx-auto" src="{{ url_for('static', filename='src/img/nft_isometric.jpeg') }}" alt="nft_isometric">

     <div class="m-10">
     <span class="text-3xl">
      Abstract Composition
      </span>
      <br>
      <br>
      <span class="text-lg">
      Style transfer is fused with color fields to create <b>The BaziVerse</b>, juxtaposing our seemingly chaotic universe with timeless laws and experiences.
      With its fiery colors and vibrant palette, it provocatively reveals hidden themes of life.
      <br>
      <br>
      Colors representing each of the 5 elements are generously used, showing the range of personality, depth, and detail each energy signature can possess. 
      For example, fire is usually expressed in the shades of red, orange, pink, or purple, so pillars containing fire will exhibit these characteristics.
      Some energies are loud, bold, or fiesty, while others are darker, mysterious, and whimsical.
      These energies each possess their unique qualities.
      <br>
      <br>
      Each piece was crafted with an emphasis on its provenance in recorded history.

      Other than curating suitable palettes, subtle energies in hidden branches (地支藏干) were included. These represent the underlying nature of each pillar, which is often not evident at first glance.
      <br>
      <br>
      Like the flash of life before death, going through the 60 energies can be a reverberating experience. The ups and downs of the human experience. Forgotten memories relived once again. The key turning point. The unpredictable cogs of nature where only change is constant, yet predictable in the rotations of time.
      <br>
      <br>
      These energy pillars are all around us - not just in art but in personalities, objects we create, experiences we build, and styles we live by. <b>The BaziVerse</b> shows the world through my eyes.
      <br>
      <div class="w-1/2 mt-12 mx-auto text-center">
    <a href="https://rarible.com/baziverse/items" target="_blank" class="flex-shrink-0 text-white bg-indigo-500 border-0 py-2 md:px-16 px-2 focus:outline-none hover:bg-indigo-600 rounded text-xl whitespace-nowrap">Rarible Collection</a>
    </div>
      <br>

    <span class="text-3xl">
    Cyclical Time in Pillars
    </span>
    <br>
    <br>
    A traditional Bazi(八字) reading reads a person's fate, fortune, and fatalities based on birth time. Unlike sequential and linear time, Chinese astrologers believe time moves in cycles of 60, which brings the same energy every 60 years, months, days, and even hours.
    <br>
    <br>
    This cyclical pattern is mapped to a fixed order of 60 elemental pillars each with 2 Chinese characters.
    They represent the Heavenly Stem (天干) and the Earth Branch (地支), respectively. Together, they depict an energy signature (象) used for divination.
    <br>
    <br>
    A water tiger (壬寅) pillar, for example, contains the core elements of water with wood, and can be pictured visually as a vibrant rainforest, like the Amazons.
    Its energy signature is enigmatic, lush, and dark.
    In addition, this pillar represents the energy for the year 2022, when themes surrounding this energy will be brought to the surface.
    <br>
    <br>
    <img class ="object-contain w-12/12 mx-auto md:w-7/12 max-h-screen" src="{{ url_for('static', filename='src/img/ren_yin_canvy.jpg') }}" alt="water_tiger_art">
    <br>
    Compare this to the energy of 2020, a metal rat (庚子) year which can be visually represented as a crystalline sword trapped in ice. In Chinese medicine, metal represents the lungs and respiratory system. In addition to being associated with the emotion of fear, the water energy of the rat also allows viruses to flourish.
    To top it off, China has historically faced wars, famines, and natural disasters during metal rat years. 2020 was no different, with COVID spreading in Wuhan and serving as a significant turning point in history.
      </span>
      <br> 
      <br> 
      <img class ="object-contain w-12/12 mx-auto md:w-6/12 max-h-screen" src="{{ url_for('static', filename='src/img/geng_zi_canvy.jpg') }}" alt="metal_rat_art">
      <br> 

    <span class="text-3xl">
      BaziVerse & You
      </span>
      <br>
      <br> 
      <span class="text-lg">
      Each Bazi chart is made up of 4 pillars, representing the year, month, day, and hour when someone was born. The chart below belongs to someone born on 2 Feb 1995 between the hours 3-5 am.
      Among the 4 pillars, the day pillar (甲子，2nd from left) is most associated with our underlying character (the self). As a wood rat, this individual is likely to have a strong will and a free-spirited personality. 
      <br> 
      <br> 
      Each person will have 1 day pillar out of the 60 pillars.
      You can find out what your day pillar is using Bazilogy's free service, or other online Bazi tools. In Rarible, there are broad writeups of each pillar's personality.
    <br> 
    <br> 
    <img class ="object-contain w-12/12 md:w-8/12 mx-auto max-h-screen" src="{{ url_for('static', filename='src/img/sample_chart_bazi.jpg') }}" alt="nft_page_header">

      </span>
      
      <br> 
      
      <span class="text-3xl">
      About The Artist
      </span>
      <br>
      <br> 
      <span class="text-lg">
      <a href="https://twitter.com/tonytonggg"><u>@tonytonggg</u></a> is a budding AI artist based in Singapore. After discovering NFTs in Oct 2021, he decided to marry his technical skills with creative genes. 
      <br>
      <br> 
      He has a fervent passion for Bazi, and has been studying it since 2016 to understand his own fate. This led him to build Bazilogy (this site), a Bazi software tool, and <b>The BaziVerse</b> NFT Collection to further explore the secrets of nature.
      <br>
      <br>
      <b>The BaziVerse</b> is his first of many collections, inspiring his pursuit of experiencing the laws of nature through everyday living.
      What inspires him is to produce works of art that could help people better understand themselves, and the world at large. 
      </span>
      <br>
      <br>
      <span class="text-3xl">
      Launch Details
      </span>
      <br>
      <br>
      <span class="text-lg">
      Supply limited to 60 Pillars, all ERC-721 Tokens.
      <br>
      Official Launch Date: <b>18 Feb 2022</b>
      <br>
      <br>
      Starting 18 Feb 2022, each piece will be released once a day for 60 days at 9 am GMT+8, based on pillar order.
      <br>
      <br>
      For example, the Water Tiger (Pillar #39 of 60) piece will begin auction on a Water Tiger (壬寅) day. This is to match each piece to the prevailing day energy. 
      The 60 pieces will be sold in a timed auction, each lasting 60 days to represent the lifespan of each piece in 1 cycle. 
      <br>
      <br>
      18 Feb 2022 is chosen for its special nature of having 4 water tiger pillars at the same time, for 2 hours. This is an extremely rare phenomenon, happening less than 0.0005% of the time!
      <br>
      <br>
      Minimum Bid: 0.07 WETH
      <br>
      <a href="https://etherscan.io/address/0xf4d1998145d97b4da60e5844b101ba2f0ccb56e3"><u>Etherscan Contract</u></a>
    <div class="w-1/2 mt-12 mx-auto text-center">
    <a href="https://rarible.com/baziverse/items" target="_blank" class="flex-shrink-0 text-white bg-indigo-500 border-0 py-2 md:px-16 px-2 focus:outline-none hover:bg-indigo-600 rounded text-xl whitespace-nowrap">Rarible Collection</a>
    </div>
      <br>
      </span>

      <span class="text-3xl">
      Other Enquiries
       </span>
       <br>
       <br>
      <span class="text-lg">
      If you are keen to merchandise (canvas, shirts, Bazi courses) or would like to use <b>The BaziVerse</b> in your designs, please contact me on <a href="https://twitter.com/tonytonggg"><u>Twitter</u></a> or tonytongwa at gmail.com.
      </span>

    </div>
  </div>

  <div class="mt-8">
    {% include 'footer_bottom.jinja2' %}
   </div>

{% endblock %}