{% extends 'layout.jinja2' %}

{% block pagestyles %}
  <link rel="stylesheet" href="{{url_for('static',filename='src/style.css')}}">
{% endblock %}

{% block content %}
	{% include 'header.jinja2' %}

  <div class="min-h-screen">
<img class ="object-contain w-full mx-auto" src="{{ url_for('static', filename='src/img/nft_page_header.png') }}" alt="nft_page_header">

    <div class="m-10 text-3xl">
      The BaziVerse NFT Collection
      <br>
      <span class="text-xl">Journey through Metaphysical Spacetime</span>
      <br>
      <br>
      
    <span class="text-base">
    <b>The BaziVerse</b> represents the infinite cycle of spacetime, combining AI algorithms with traditional alchemy. 
    <br>
    <br>
    Since Ancient China, the 5 elements have been a focal point of Chinese Metaphysics - water, wood, fire, earth and metal. 
    <br>
    <br>
    After analysis, these 5 elements were further melded to form 60 distinct energy pillars. Based on stars in the solar system, these pillars are believed to represent all matter in our universe. 
    <i>Can these 60 energies really map everything in existence?</i>
    <br>
    <br>
     <span class="text-3xl">
      Abstract Composition
      </span>
      <br>
      <br>
      <span class="text-base">
      Merging style transfer with color fields, <b>The BaziVerse</b> juxtaposes our seemingly chaotic universe with timeless laws and experiences. Using explosive colours and vibrant palettes, it provocatively pushes the hidden themes of life to the front.
      <br>
      <br>
      Colours representing each of the 5 elements are generously used, showing the range of personality, depth and detail each energy signature can have. Some energies are loud, bold and fiesty, while others are darker, mysterious and whimiscal. Each has their own appeal, their own unique take to every situation.
      <br>
      <br>
      Like the flash of life before death, going through the 60 energies can be a reverberating experience. The ups and downs of the past. Forgotten memories relived once again. The key event that eventually was your turning point. The unpredictable cogs of nature where only change is constant, yet predictable in the rotations of time.
      <br>
      <br>
      These energy pillars are all around us - not just in art but in personalities, objects we create, experiences we build, styles we live. 
      <br>
      <br>

    <span class="text-3xl">
    Cyclical Time in Pillars
    </span>
    <br>
    <br>
    A traditional Bazi(八字) reading reads a person's fate, fortune and fatalities using your birth time. Chinese astrologers believe that unlike sequential time, time goes in cycles of 60 - 60 years, months, days and even hours. 
    <br>
    <br>
    This cyclical pattern is mapped to 60 elemental pillars each with 2 chinese characters, representing the Heavenly Stem (天干) and the Earth Branch (地支) that together, depicts an energy signature (象) used for divination.
    <br>
    <br>
    For example, a water tiger (壬寅) pillar contains the core elements of water and wood, and can be visually represented as a vibrant rainforest, like the Amazons. The energy signature is enigmatic, lush and dark. This pillar also represents the energy for the year 2022, where themes surrounding this energy will rise to our attention.
    <br>
    <br>
    <img class ="object-contain w-9/12 mx-auto max-h-96" src="{{ url_for('static', filename='src/img/ren_yin_nft.jpg') }}" alt="water_tiger_art">
    <br>
      
      </span>
      <br> 

    <span class="text-3xl">
      BaziVerse & You
      </span>
      <br>
      <br> 
      <span class="text-base">
      Each Bazi chart is made up of 4 pillars, representing the year, month, day and hour when someone was born. Among the 4 pillars, the day pillar (top row, 2nd from left) is most associated with our underlying character, the self. 
<br>
      <br> 
      You may find out what is your Day Pillar using Bazilogy's free service, or use any online tool elsewhere.
    <br> 
    <br> 
    <img class ="object-contain w-11/12 md:w-8/12 mx-auto" src="{{ url_for('static', filename='src/img/sample_bazi_chart.jpeg') }}" alt="nft_page_header">

      </span>
      
      <br> 
      <span class="text-3xl">
      Astrology Charts As Art
      </span>
      <br>
      <br> 
      <span class="text-base">
      Typical astrology charts are too cryptic for the layman, usually filled with complex characters, confusing arrows and symbols. 
      <br>
      <br> 
      The associative nature of Bazi may cause people to take readings too literally, instead of understanding the underlying energy signature. The silver living that comes with every situation.
      <br>
      <br> 
      With The BaziVerse, viewers can simply enjoy the visual ectasy of brillant colours in each chart, focusing on the beauty in each individual instead of clashes, punishments and other flaws. 
      <br>
      <br> 
      With understanding and acceptance, there is always a possibility of rewriting our destiny, even if just 1 pixel changes.
      <br>
      <br> 
      </span>
      <span class="text-3xl">
      About The Artist
      </span>
      <br>
      <br> 
      <span class="text-base">
      @tonytonggg is a budding AI artist based in Singapore. After discovering NFTs in Oct 2021, he decided to marry his technical skills with creative genes. 
      <br>
      <br> 
      He has a fervent passion for Bazi, and has been studying it since 2016 to understand his own fate. This led him to build Bazilogy and BaziVerse to further understand the secrets of nature.
      <br>
      <br>
      The BaziVerse is his first of many collections, inspiring his pursuit of experiencing the laws of nature through everyday living.
      <br>
      <br>
      What inspires him is to produce works of art that could help people better understand themselves, and the world at large. 
      </span>
      <br>
      <br>
      <span class="text-3xl">
      Details
      </span>
      <br>
      <br>
      <span class="text-base">
      Supply limited to 60 Pieces.
      <br>
      Official Launch Date: 18 Feb 2022

       <div class="w-1/2 mt-12 mx-auto text-center">
    <a href="https://opensea.io/collection/bazi" class="flex-shrink-0 text-white bg-indigo-500 border-0 py-2 md:px-16 px-2 focus:outline-none hover:bg-indigo-600 rounded text-xl min-w-48">OpenSea Collection</a>
    </div>
      
      </span>
    </div>
  </div>

  <div class="mt-8">
    {% include 'footer_bottom.jinja2' %}
   </div>

{% endblock %}