<h1><b>Disclaimer</b></h1>
<br>
Last updated: May 29, 2021
<p>
<br>
<h2><b>Interpretation and Definitions</b></h2>
</p>
<br>
<h2><b>Interpretation</b></h2>
<br>
The words of which the initial letter is capitalized have meanings defined under the following conditions. The following definitions shall have the same meaning regardless of whether they appear in singular or in plural.
<br>
<br>
<h2><b>Definitions</b></h2>
<br>
For the purposes of this Disclaimer:
<br>
<br>
* Company (referred to as either "the Company", "We", "Us" or "Our" in this Disclaimer) refers to 9 Flames Tech, Singapore.
<br>
* Service refers to the Website.
<br>
* You means the individual accessing the Service, or the company, or other legal entity on behalf of which such individual is accessing or using the Service, as applicable.
<br>
* Website refers to Bazilogy, accessible from https://bazilogy.co
<br>
<br>
<h2><b>Disclaimer</b></h2>
<br>
The information contained on the Service is for general information purposes only.
The Company assumes no responsibility for errors or omissions in the contents of the Service.
<br>
All information on the Site and our mobile application is provided in good faith,
however we make no representation or warranty of any kind, express or implied
regarding the accuracy, adequacy, validity, reliability, availability or completeness
of any information on the Site or our mobile application.
<br>
In no event shall the Company be liable for any special, direct, indirect, consequential, or incidental damages or any damages whatsoever, whether in an action of contract, negligence or other tort, arising out of or in connection with the use of the Service or the contents of the Service. The Company reserves the right to make additions, deletions, or modifications to the contents on the Service at any time without prior notice. 
<br>
The Company does not warrant that the Service is free of viruses or other harmful components.
<br>
<br>
<h2><b>External Links Disclaimer</b></h2>
<br>
The Service may contain links to external websites that are not provided or maintained by or in any way affiliated with the Company.
Such external links are not investigated, monitored, or checked for accuracy, adequacy, validity, reliability, availability or completeness by us.
Please note that the Company does not guarantee the accuracy, relevance, timeliness, or completeness of any information on these external websites. We will not be a party to or be in any way be responsible for monitoring any transaction between you and third-party providers of products or services.
<br>
<br>
<h2><b>PROFESSIONAL DISCLAIMER</b></h2>
<br>
The Site cannot and does not contain self-help advice. The self-help information is
provided for general informational and educational purposes only and is not a
substitute for professional advice. Accordingly, before taking any actions based
upon such information, we encourage you to consult with the appropriate
professionals. We do not provide any kind of self-help advice. THE USE OR
RELIANCE OF ANY INFORMATION CONTAINED ON THIS SITE OR OUR
MOBILE APPLICATION IS SOLELY AT YOUR OWN RISK.
<br>
<br>
<h2><b>TESTIMONlALS DISCLAIMER</b></h2>
<br>
The Site may contain testimonials by users pour products and/or services. These
testimonials reflect the real-life experiences and opinions of such users. However,
the experiences are personal to those particular users,and may not necessarily
be representative of all users of our products and/or services.We do not claim,
and you should not assume, that all users will have the same experiences. YOUR
INDIVIDUAL RESULTS MAY VARY</b></h2>
<br>
The testimonials on the Site are submitted in various forms such as tend, audio
and/or video, and are reviewed by us before being posted. They appear on the
Site verbatim as given by the users, except for the correction of grammar or typing
errors. Some testimonials may have been shortened for the sake of brevity where
the full testimonial oontairied extraneous information not relevant to the general
public.
<br>
<br>
The views and opinions contained in the testimonials belong solely to the
individual user and do not reflect our views and opinions. We are not affiliated with
users who provide testimonials. and users are not paid or otherwise compensated
for their testimonials.
<br>
<br>
<h2><b>Errors and Omissions Disclaimer</b></h2>
<br>
The information given by the Service is for general guidance on matters of interest only. Even if the Company takes every precaution to insure that the content of the Service is both current and accurate, errors can occur. Plus, given the changing nature of laws, rules and regulations, there may be delays, omissions or inaccuracies in the information contained on the Service.
The Company is not responsible for any errors or omissions, or for the results obtained from the use of this information.
<br>
<br>
<h2><b>Fair Use Disclaimer</b></h2>
<br>
The Company may use copyrighted material which has not always been specifically authorized by the copyright owner. The Company is making such material available for criticism, comment, news reporting, teaching, scholarship, or research.
The Company believes this constitutes a "fair use" of any such copyrighted material as provided for in section 107 of the United States Copyright law.
If You wish to use copyrighted material from the Service for your own purposes that go beyond fair use, You must obtain permission from the copyright owner.
<br>
<br>
<h2><b>Views Expressed Disclaimer</b></h2>
<br>
The Service may contain views and opinions which are those of the authors and do not necessarily reflect the official policy or position of any other author, agency, organization, employer or company, including the Company.
Comments published by users are their sole responsibility and the users will take full responsibility, liability and blame for any libel or litigation that results from something written in or as a direct result of something written in a comment. The Company is not liable for any comment published by users and reserve the right to delete any comment for any reason whatsoever.
<br>
<br>
<h2><b>No Responsibility Disclaimer</b></h2>
<br>
The information on the Service is provided with the understanding that the Company is not herein engaged in rendering legal, accounting, tax, or other professional advice and services. As such, it should not be used as a substitute for consultation with professional accounting, tax, legal or other competent advisers.
In no event shall the Company or its suppliers be liable for any special, incidental, indirect, or consequential damages whatsoever arising out of or in connection with your access or use or inability to access or use the Service.
<br>
<br>
<h2><b>"Use at Your Own Risk" Disclaimer</b></h2>
<br>
All information in the Service is provided "as is", with no guarantee of completeness, accuracy, timeliness or of the results obtained from the use of this information, and without warranty of any kind, express or implied, including, but not limited to warranties of performance, merchantability and fitness for a particular purpose.
The Company will not be liable to You or anyone else for any decision made or action taken in reliance on the information given by the Service or for any consequential, special or similar damages, even if advised of the possibility of such damages.
Contact Us
<br>
<br>
If you have any questions about this Disclaimer, You can contact Us:
* By email: 9flames@mail.com
<br>
<br>
