<div class="flex h-screen">
Instead of:

Read Bazi -> "someone will start a successful business today."

Read Bazi -> calculate formulas

calculate formulas -> get energy pattern

get energy pattern -> successful business were started during past times of this energy -> we predict that successful business will be started today.
</div>