{% extends "layout.jinja2" %}

{% block pagestyles %}
<link rel="stylesheet" href="{{url_for('static',filename='src/css/tailwind.css')}}">
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
{% endblock %}

{% block content %}
  {% include 'header.jinja2' %}
  {% include 'bazi_faq.jinja2' %}
  {% include 'landing_footer.jinja2' %}
{% endblock %}

{% block additionalscripts %}
{% endblock %}