<section class="text-gray-600 body-font">
    <div class="bg-gray-100 pt-10 pb-6">
    <div class="mx-auto md:w-11/12 md:w-9/12">
        <div class="p-2 bg-gray-100 rounded">
            <div class="flex flex-col md:flex-row">
                <div class="md:w-1/3 p-4 text-sm">
                    <div class="text-3xl"><span class="font-medium">Questions</span></div>
                    <div class="my-2 text-base">If you don't get your answer, shoot us an email here.</div>
                </div>
                <div class="md:w-2/3">
                    <div class="p-4">
                        <div class="mb-2">
                            <div class="font-medium rounded-sm text-lg px-2 py-3 flex text-gray-800 flex-row-reverse mt-2 cursor-pointer text-black bg-white hover:bg-white items-center">
                                <div class="flex-auto">What is Bazi?</div>
                                <div class="px-2 mt-1">
                                    <button id="question_1" type="button" onclick="toggleView(this)">
                                        <span id="down_1" class="iconify" data-icon="feather-chevron-down" data-inline="false"></span>
                                        <span id="up_1" class="iconify hidden" data-icon="feather-chevron-up" data-inline="false"></span>
                                    </button>
                                </div>
                            </div>
                            <div id="answer_1" class="hidden px-6 pb-6 text-justify text-left text-gray-800 mb-5 bg-white ">
                            Bazi is basically chinese astrology, a fortune-telling system that describes someone's destiny based on energies induced by our solar system.
                            <br>
                            <br>
                            It began around 5000 years ago during the Chinese Wu Dynasty, and has been a timeless influence in chinese philosophy and culture.
                            <br>
                            <br>
                            As a tool, Bazi can help improve our lives for better wealth, health, relationships and spiritual pursuits.
                            <br>
                            <br>
                            Traditionally, Bazi has been delivered verbally by Metaphysics Masters in person, or over email.
                            <br>
                            <br>
                            Here, we systemise Bazi interpretations into software to make readings extremely practical for your daily life, without the abstract jargons and incriminating tone.</div>
                        </div>
                        <div class="mb-2">
                            <div class="font-medium rounded-sm text-lg px-2 py-3 flex text-gray-800 flex-row-reverse mt-2 cursor-pointer text-black bg-white hover:bg-white items-center">
                                <div class="flex-auto">What is your Bazi Philosophy for this tool?</div>
                                <div class="px-2 mt-1">
                                    <button id="question_2" type="button" onclick="toggleView(this)">
                                        <span id="down_2" class="iconify" data-icon="feather-chevron-down" data-inline="false"></span>
                                        <span id="up_2" class="iconify hidden" data-icon="feather-chevron-up" data-inline="false"></span>
                                    </button>
                                </div>
                            </div>
                            <div id="answer_2" class="px-6 pb-6 text-justify text-left text-gray-800 mb-5 bg-white hidden">
                            1) Bazi has predictive power, but this power is <b>correlative instead of causative.</b> 
                            <br>
                            <br>
                            Historically, chinese people have studied natural and human events, and correlated them to 60 time pillars. With data over 5000 years, people are able to match similar events with the energy pattern, and hence use this to predict what is likely to happen (like how weather stations predict the monsoon seasons every year).
                            <br>
                            <br>
                            It is generally poor at predicting the actual event, but very good at describing the energy dynamics of situations.
                            <br>
                            <br>
                            For eg. Bazi can tell you that this month there is higher chance of physical harm, but cannot tell you that you will scrape your knee while walking on a pavement with 2 birds and 1 banana, or just have more violent thoughts than normal. 
                            <br>
                            <br>
                            The typical recommendation is to tell you not to go outside at all. Meditate and manage the energy influencing you.
                            <br>
                            <br>
                            There have been cases of powerful Masters being able to exceed this level of prediction using spiritual powers, but this tool is not at that level. 
                            <br>
                            <br>
                            We focus on baisc-intermmediate level readings consistent with most Bazi schools of thought that are precise and clear, so you do not need to be a Bazi expert to get started.
                            <br>
                            <br>
                            2) We use Bazi to <b>bring people up instead of down.</b> 
                            <br>
                            <br>
                            Many Bazi services use triggers like "your chart has a clash" or "you have an ill-fated destiny" to sensationalize your chart readings and make you feel out of control.
                            <br>
                            <br>
                            Some of these come from older Masters who rely on obscure texts that might not be relevant to today's times. They have lived in an era with different mentalities.
                            <br>
                            <br>
                            At best, these people are doing their best to warn you of their beliefs. At worst, they are using fear to lure you into their sales funnels, or to buy more to "ward off the evils".
                            <br>
                            <br>
                            Either way, we don't believe in that Bazi readings should discourage you. Instead, they should be empowering you to leverage your strengths, or at least see the silver lining.
                            <br>
                            <br>
                            We don't create problems without offering solutions, and we take care in phrasing interpretations to leave them open for transmutation through your awareness and actions.
                            <br>
                            <br>
                            Bazi just represents potential power, the actual vehicle for change lies within you taking action on good advice, instead of complaining about a chart as old as you.
                            <br>
                            <br>
                            We aim to be that source of advice for you.
                            <br>
                            <br>
                            Whether good or bad, the most successful people are able to make the most of every situation, and it is our mission to inspire people to reach the best versions of themselves.
                            </div>
                        </div>
                        <div class="mb-2">
                            <div class="font-medium rounded-sm text-lg px-2 py-3 flex text-gray-800 flex-row-reverse mt-2 cursor-pointer text-black bg-white hover:bg-white items-center">
                                <div class="flex-auto">How accurate are your readings?</div>
                                <div class="px-2 mt-1">
                                    <button id="question_3" type="button" onclick="toggleView(this)">
                                        <span id="down_3" class="iconify" data-icon="feather-chevron-down" data-inline="false"></span>
                                        <span id="up_3" class="iconify hidden" data-icon="feather-chevron-up" data-inline="false"></span>
                                    </button>
                                </div>
                            </div>
                            <div id="answer_3" class="px-6 pb-6 text-justify text-left text-gray-800 mb-5 bg-white hidden ">
                            Our readings are based on widely accepted Bazi principles you can find in any beginner to intermmediate level book. We are not re-inventing the wheel.
                            <br>
                            <br>
                            We don't claim to "predict the future". We generally say "this energy pattern is likely to induce situations where  ..." instead of saying "... will definitely happen".
                            <br>
                            <br>
                            If you had to throw a number, we would say 70/30% probability where previously it was 50/50% without Bazi knowledge. For context, in casinos the house has a 51/49% advantage, enough to rake them millions every month.
                            <br>
                            <br>
                            The laws of Nature are complex and we do not know of anyone who gets it right 100% of the time.
                            <br>
                            <br>
                            If any Master comes out and says "... will definitely happen", you should run away while you can, unless they have a clear track record of doing so.
                            <br>
                            <br>
                            We have had many cases of people who have matched readings with their life exeperiences accurately, sometimes even beyond expectation.
                            <br>
                            <br>
                            We are open to your feedback to make our readings more accurate for you.
                            
                            </div>
                        </div>
                        <div class="mb-2">
                            <div class="font-medium rounded-sm text-lg px-2 py-3 flex text-gray-800 flex-row-reverse mt-2 cursor-pointer text-black bg-white hover:bg-white items-center">
                                <div class="flex-auto">How are you different from other paid Bazi services?</div>
                                <div class="px-2 mt-1">
                                    <button id="question_4" type="button" onclick="toggleView(this)">
                                        <span id="down_4" class="iconify" data-icon="feather-chevron-down" data-inline="false"></span>
                                        <span id="up_4" class="iconify hidden" data-icon="feather-chevron-up" data-inline="false"></span>
                                    </button>
                                </div>
                            </div>
                           <div id="answer_4" class="px-6 pb-6 text-justify text-left text-gray-800 mb-5 bg-white hidden ">
                           Many Bazi services use triggers like "your chart has a clash" or "you have an ill-fated destiny" to sensationalize your chart readings and make you feel out of control.
                           <br>
                           <br>
                           Some of these come from older Masters who rely on obscure texts that might not be relevant to today's times. They have lived in an era with different mentalities.
                           <br>
                           <br>
                           At best, these people are doing their best to warn you of their beliefs. At worst, they are using fear to lure you into their sales funnels. To buy more ornaments, rituals and even burial services.
                           <br>
                           <br>
                           We take a statistical approach, weighing claims against probability and using Bazi principles to reduce uncertainty.
                           <br>
                           <br>
                           We explain how we arrive at our conclusions, helping you learn enough to discern the market better so you don't get overcharged by one-off consultations that are hard to follow-up on after your next luck cycle.
                           <br>
                           <br>
                           Lastly, when was the last time you saw easy-to-use Bazi software that could do personalised readings not just for you, but for your entire network?
                           <br>
                           <br>
                           If we did, then we wouldn't make this in the first place.
                           </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

</section>

{% block additionalscripts %}
<script>
function toggleView(elem) {
    var i = elem.id.substring(elem.id.indexOf("_") + 1, elem.id.length + 1)
    document.getElementById("answer_" + i).classList.toggle("hidden")
    document.getElementById("up_" + i).classList.toggle("hidden")
    document.getElementById("down_" + i).classList.toggle("hidden")
}
</script>

<style>
.iconify { width: 40px; height: 40px; }
</style>
{% endblock %}