<section class="text-gray-600 body-font">
  <div class="px-1 mx-auto">
    <div class="lg:w-2/3 flex flex-col sm:flex-row items-center items-start mx-auto">
      <h1 class="flex-grow sm:pr-16 text-2xl font-medium title-font text-gray-900">
Win People Over With The Right Message At The Right Time.</h1>
    </div>
     </div>
     <div class=" mt-10 items-center items-start">
    <button class="flex-shrink-0 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Sign Up</button>
  </div>
</section>