  <div class="bg-gray-100">
    <div class="px-5 py-6 mx-auto flex items-center sm:flex-row flex-col justify-between">
      {# <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900"> #}
                      {% if current_user.is_authenticated %}
    <a href="{{ url_for('main_bp.main') }}" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
    {%else%}
    <a href="{{ url_for('landing_bp.landing') }}" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
    {%endif%}
        
        <img class ="object-contain w-12" src="{{ url_for('static', filename='src/img/logo-bg-remove.png') }}" alt="logo">
        <span class="ml-3 text-xl">Bazilogy (Beta)</span>


      </a>
      <p class="text-sm text-gray-500 sm:ml-6 sm:mt-0 mt-4">© 2021 Bazilogy —
        <a href="https://twitter.com/bazilogyapp" rel="noopener noreferrer" class="text-gray-600 ml-1" target="_blank">@bazilogyapp</a>
      </p>
    </div>
  </div>