{% extends "layout.jinja2" %}

{% block pagestyles %}
<link rel="stylesheet" href="{{url_for('static',filename='src/css/tailwind.css')}}">
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
<script src="https://js.stripe.com/v3/"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
  {% include 'header.jinja2' %}
  {% include 'hero.jinja2' %}
  {% include 'feature.jinja2' %}
  {% include 'steps.jinja2' %}
  {% include 'pricing.jinja2' %}
  {% include 'bazi_faq.jinja2' %}
  {% include 'cta.jinja2' %}
  {% include 'landing_footer.jinja2' %}
{% endblock %}

{% block additionalscripts %}
<script src="{{ url_for('static', filename='src/js/stripe.js') }}"></script>
{% endblock %}