{% extends "layout.jinja2" %}

{% block pagestyles %}
<link rel="stylesheet" href="{{url_for('static',filename='src/css/tailwind.css')}}">
{% endblock %}

{% block content %}
  {% include 'header.jinja2' %}
  
    <div class="flex h-screen">
    <div class="m-10 text-3xl">
      Building in Progress.
      <br>
      <br>
    </div>
  </div>

  {% include 'landing_footer.jinja2' %}
{% endblock %}

{% block additionalscripts %}
{% endblock %}