<section class="text-gray-600 body-font text-xl">
  <div class="px-8 pt-2 mx-auto">
    <div class="flex flex-col text-center w-full mb-16">
      <h1 class="sm:text-4xl text-3xl font-medium title-font text-gray-900">Testimonials</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-gray-500"></p>
    </div>
  <div class="px-8 py-2 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="lg:w-1/3 lg:mb-0 mb-6 p-4">
        <div class="h-full text-center">
          <img alt="testimonial" class="w-20 h-20 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-200 bg-gray-100" src="{{ url_for('static', filename='src/img/testimonial_anthony_philip.jpeg') }}">
          <p class="leading-relaxed italic">"I like the manner you approached BaZi reading within one's social network through software programming to forecast the outcome of each other's interactions. Excellent and innovative."</p>
          <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-6 mb-4"></span>
          <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">Anthony Philip</h2>
          <p class="text-gray-500">Semi-retired Business Owner</p>
        </div>
      </div>
      <div class="lg:w-1/3 lg:mb-0 mb-6 p-4">
        <div class="h-full text-center">
          <img alt="testimonial" class="w-20 h-20 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-200 bg-gray-100" src="{{ url_for('static', filename='src/img/testimonial_valerie.png') }}">
          <p class="leading-relaxed italic">"Tony gave me an insightful Bazi reading! It was very accurate in describing my strengths and weaknesses. It helped to explain why there were certain patterns in my life like my career and relationships being very tied together. It also helped to explain certain things that happened in the past. I think it helps me to be more self aware for the future."</p>
          <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-6 mb-4"></span>
          <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">Valerie Pang</h2>
          <p class="text-gray-500">Digital Marketing Associate</p>
        </div>
      </div>
      <div class="lg:w-1/3 lg:mb-0 p-4">
        <div class="h-full text-center">
          <img alt="testimonial" class="w-20 h-20 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-200 bg-gray-100" src="{{ url_for('static', filename='src/img/testimonial_wendy.png') }}">
          <p class="leading-relaxed italic">"The things Tony shared with me are mind blowing...and nothing like I had learned before. His ability to analyze and connect the dots among the Bazi elements are fascinating to me. 

The best part is he brilliantly guided me on how to strategize and apply what my Bazi shows me in my business and life. 

I definitely discovered myself at a deeper level now... using the gifts I have to live a purposeful and happier life."</p>
          <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-6 mb-4"></span>
          <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">Wendy</h2>
          <p class="text-gray-500">Marketing Copywriter</p>
        </div>
      </div>
    </div>
  </div>
</section>