{% block content %}
<div class="mt-10 flex">
<form class="" action="" method='POST' name="myform">
    {{ form.csrt_token }}

    <div class="">
      <div class="ml-8 text-lg">
        {{ form.startdate.label }}:  {{form.startdate(class='datepicker')}} {{form.hidden_tag()}}
      </div>
      <div class="mt-4 ml-8 text-lg">
      {{ form.enddate.label }}:  {{form.enddate(class='datepicker')}} {{form.hidden_tag()}}
      </div>
    </div>

      <div class="mt-12 ml-8 flex">
      <button class="justify-left bg-gray-100 border-2 py-1 text-xl px-3 border-gray-400 hover:border-black rounded text-lg">
      {{form.submit()}}
      </button>
      </div>

    


</form>
</div>

  {% endblock %}