{% block pagestyles %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block content %} 

<form class="form-inline" method="POST" action="{{ url_for('network_bp.main') }}" id="dropdown_qn_form">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
<select class="js-example-basic-single" name="dropdown_menu" id='dropdown_qn_id' style="width: 50%">
  <option></option>
  {% for ques in questions %}
    <option value= "{{ques}}">{{ques}}</option>"
  {% endfor %}
      {% for error in network_form.question.errors %}
      <span class="label label-danger">{{ error }}</span>
      {% endfor %}
      <input type="hidden" name="security_key" value="456">
  </select>
</form>

<br>

{% if session['question'] %}
  Question Selected: {{session.question}}
    {% else %}
    Please select a question.
    {% endif %}

{% endblock %} 

{% block additionalscripts %}
<script>
$(document).ready(function() {
  $selectElement = $('select').select2({
    placeholder: "Please select a question",
    allowClear: true
  });
});

$('#dropdown_qn_id').change(function(){
    $('#dropdown_qn_form').submit();
});

</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock %}
