{% extends 'layout.jinja2' %}

{% block pagestyles %}
<link rel="stylesheet" href="{{url_for('static',filename='src/style.css')}}">
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
{% endblock %}

{% block content %}
 <div class="font-serif">
  {% include 'navigation.jinja2' %}

<div class="my-10 w-11/12 mx-auto">
{% for category, message in get_flashed_messages(with_categories=true) %}
        {%if category == "info" %} 
          <div id="successMessage" class="alert text-green-700 bg-green-100 border border-green-400 text-left rounded pb-3 pt-2 px-4">
            <button onclick=delete_flash(this) type="button" class="close text-2xl" data-dismiss="alert">&#10003;</button>
        
        {%elif category == "error"%}
          <div class="alert text-red-700 bg-red-100 border border-red-400 text-left rounded pb-3 pt-2 px-4">
            <button onclick=delete_flash(this) type="button" class="close text-2xl" data-dismiss="alert">&times;</button>
        
        {%endif%}    
          {{ message }} 
          </div>
        {% endfor %}
</div> 

<div class="my-10 w-11/12 mx-auto flex-row justify-center">

    <button onclick="toggleFilter(this)" class="inline-flex items-center bg-indigo-400 border-0 py-3 text-xl px-6 focus:outline-none hover:bg-indigo-500 rounded">
      Filters
    </button>

     <button onclick="toggleInstruction(this)" class="modal-open text-lg bg-transparent border border-gray-500 align-bottom hover:border-indigo-400 text-gray-500 hover:text-black font-bold py-2 px-4 ml-6 rounded">?
     </button>

    <div class="hidden pt-10 text-center rounded" id='network_instruction'>
      {% include 'network_instructions.jinja2' %} 
    </div>
  
    <div class="shadow-lg hidden mt-10 pt-10 pb-8 bg-theme-l-green text-center rounded" id='filter_buttons'>
      {# {% include 'dropdown_search_network.jinja2' %} 
      {% include 'date_network.jinja2' %}  #}

    <form class="" action="" method='POST' name="myform">
        {{ network_form_2.csrt_token }}
        <div class="">
          <div class="ml-8 text-lg" onchange="toggleDateFields(this)">
            {{ network_form_2.category.label }}:  {{network_form_2.category()}} {{network_form_2.hidden_tag()}}
        </div>
        <div class="ml-8 text-lg hidden" id='startDateId'>
            {{ network_form_2.startdate.label }}:  {{network_form_2.startdate(class='datepicker')}} {{network_form_2.hidden_tag()}}
        </div>
        <div class="mt-4 ml-8 text-lg hidden" id='endDateId'>
            {{ network_form_2.enddate.label }}:  {{network_form_2.enddate(class='datepicker')}} {{network_form_2.hidden_tag()}}
        </div>
       </div>

      <div class="mt-12 ml-8 flex">
        <button class="justify-left bg-gray-100 border-2 py-1 text-xl px-3 border-gray-400 hover:border-black rounded text-lg">
          {{network_form_2.submit()}}
        </button>
      </div>
    </form>

    </div>

  </div> 

  <div class="my-10">
  {% include 'readings.jinja2' %} 
  </div>

  <div class="my-10">
  {% include 'table.jinja2' %} 
  </div> 

<div class="mt-8">
  {% include 'footer_bottom.jinja2' %}
   </div>

</div>

{% endblock %} 

{% block additionalscripts %}
<script>
function toggleFilter(elem) {
    document.getElementById('filter_buttons').classList.toggle("hidden")
}

function toggleInstruction(elem) {
    document.getElementById('network_instruction').classList.toggle("hidden")
}

setTimeout(function() {
    $('#successMessage').fadeOut('fast');
}, 3000); 

function delete_flash(flash){
        $(flash).parent().remove()
}

function toggleDateFields() {
  requireDate = ["1","2","3","4"]
  let box_value = document.getElementById("category").value;
  if (requireDate.includes(box_value)) {
    document.getElementById("startDateId").style.display = "block"
    document.getElementById("endDateId").style.display = "block"
  } else {
    document.getElementById("startDateId").style.display = "none"
    document.getElementById("endDateId").style.display = "none"
  }
}

toggleDateFields()

</script>
{% endblock %}
