{% extends 'layout.jinja2' %}

{% block pagestyles %}
  <link rel="stylesheet" href="{{url_for('static',filename='src/style.css')}}">
{% endblock %}

{% block content %}
 <div class="font-serif">
  {% include 'navigation.jinja2' %}

<div class="my-10">
{% for category, message in get_flashed_messages(with_categories=true) %}
        {%if category == "info" %} 
          <div class="alert text-green-700 bg-green-100 border border-green-400 text-left rounded pb-3 pt-2 px-4">
            <button type="button" class="close text-2xl" data-dismiss="alert">&#10003;</button>
        
        {%elif category == "error"%}
          <div class="alert text-red-700 bg-red-100 border border-red-400 text-left rounded pb-3 pt-2 px-4">
            <button type="button" class="close text-2xl" data-dismiss="alert">&times;</button>
        
        {%endif%}    
          {{ message }} 
          </div>
        {% endfor %}
</div> 

<div class="my-10">
    Relative to Chart: {{current_user.name}}
  </div> 

  <div class="my-10">
  {% include 'dropdown_search_network.jinja2' %} 
  </div> 

  <div class="my-10">
  {% include 'date_network.jinja2' %} 
  </div> 

  <div class="my-10">
  {% include 'table.jinja2' %} 
  </div> 

  Session Data:
  {{session["contact_name"]}}
  {{session["start_date"]}}
  {{session["end_date"]}}
  <div class="my-10">
  
  </div>

<div class="mt-8">
  {% include 'footer.jinja2' %}
   </div>

</div>

{% endblock %} 

{% block additionalscripts %}
{% endblock %}
