<div class="flex flex-col w-11/12 mx-auto mt-8 bg-white shadow-lg">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 rounded">
        
        {% if table_data|length == 0 %}
        <div class="bg-red-300 text-xl py-2 px-4">
        Add Some Charts In The Account Section To Populate This Space.
        <br>
        Recommended To Add Close Friends, Family, Relatives And acquaintances.
        </div>
        {% else %}
        {% for category, message in get_flashed_messages(with_categories=true) %}
        {%if category == "info" %} 
          <div id="successMessage" class="alert text-green-700 bg-green-100 border border-green-400 text-left rounded pb-3 pt-2 px-4">
            <button onclick=delete_flash(this) type="button" class="close text-2xl" data-dismiss="alert">&#10003;</button>
        
        {%elif category == "error"%}
          <div class="alert text-red-700 bg-red-100 border border-red-400 text-left rounded pb-3 pt-2 px-4">
            <button onclick=delete_flash(this) type="button" class="close text-2xl" data-dismiss="alert">&times;</button>
        
        {%endif%}    
          {{ message }} 
          </div>
        {% endfor %}

        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="text-black px-6 py-3 text-left text-m font-medium text-gray-500 uppercase tracking-wider">
                Name
              </th>
              <th scope="col" class="text-black px-6 py-3 text-left text-m font-medium text-gray-500 uppercase tracking-wider">
                Natal Stems
              </th>
              <th scope="col" class="text-black px-6 py-3 text-left text-m font-medium text-gray-500 uppercase tracking-wider">
                Natal Branches
              </th>
              <th scope="col" class="text-black px-6 py-3 text-left text-m font-medium text-gray-500 uppercase tracking-wider">
                Remarks
              </th>
            </tr>
          </thead>

          <tbody class="divide-y divide-gray-200">
            {% for i in range(table_data|length) %}
              <tr>
                <td class="text-black px-6 py-4 whitespace-nowrap text-lg">
                  {{table_data[i].contact_name}} 
                </td>
                </div>
                </td>
                <td class="text-black px-6 py-4 whitespace-nowrap text-lg">
                {% if table_data[i].hour_s ==  "" %}
                    <span class="font-bold">{{table_data[i].day_s}}</span>, {{table_data[i].month_s}}, {{table_data[i].year_s}}
                {% else %}
                    {{table_data[i].hour_s}}, <span class="font-bold">{{table_data[i].day_s}}</span>, {{table_data[i].month_s}}, {{table_data[i].year_s}}
                {% endif %}
                </td>
                <td class="text-black px-6 py-4 whitespace-nowrap text-lg">
                {% if table_data[i].hour_s ==  "" %}
                    <span class="font-bold">{{table_data[i].day_e}}</span>, {{table_data[i].month_e}}, {{table_data[i].year_e}}
                {% else %}
                    {{table_data[i].hour_e}}, <span class="font-bold">{{table_data[i].day_e}}</span>, {{table_data[i].month_e}}, {{table_data[i].year_e}}
                {% endif %}
                </td>
                <td class="text-black px-6 py-4 whitespace-nowrap text-lg">
                {%for r in remarks[i] %} 
                  {{r}} <br>
                {% endfor %}
                </td>
              </tr>
            {% endfor %}

          </tbody>
        </table>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<style type="text/css">
    tr:nth-child(even) {
  background-color: #CCF5AC;
}
</style>