{% extends 'layout.jinja2' %}

{% block pagestyles %}
  <link rel="stylesheet" href="{{url_for('static',filename='src/css/tailwind.css')}}">
  <script src="{{ url_for('static', filename='src/js/stripe.js') }}"></script>
  <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block content %}

<div>
  {%if current_user.email %} 
    {% include 'navigation.jinja2' %}
  {%else%}
    {% include 'header.jinja2' %}
  {%endif%} 

   <div class="flex h-screen justify-center">
      <div class="mt-12 w-11/12">
    Something went wrong. 
    <br>
    <br>
    Either:
    <br>
    <br>
    1) You cancelled checkout.
    <br>
    <br>
    2) There was a problem paying through Stripe.
    <br>
    <br>
    If you require assistance, send us an email and we will attend to you as soon as we can.
    <br>
    <br>
    Thank you for your patience.
      </div>
    </div>

<div class="mt-8">
  {% include 'footer_bottom.jinja2' %}
   </div>

</div>


{% endblock %} 
