{% extends 'layout.jinja2' %}

{% block pagestyles %}
  <link rel="stylesheet" href="{{url_for('static',filename='src/css/tailwind.css')}}">
  <script src="{{ url_for('static', filename='src/js/stripe.js') }}"></script>
  <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block content %}

<div>
  {%if current_user.email %} 
    {% include 'navigation.jinja2' %}
  {%else%}
    {% include 'header.jinja2' %}
  {%endif%} 

   <div class="flex h-screen justify-center">
      <div class="mt-12 w-11/12">
    Payment Success!
    <br>
    <br>
    It might take a moment for your payment to reach us.
    <br>
    <br>
    Once it reaches, we will unlock your paid plan. (You can check under the <i>Account</i> tab -> <i>Plan</i>)
    <br>
    <br>
    Thank you for your patience.
      </div>
    </div>

<div class="mt-8">
  {% include 'footer_bottom.jinja2' %}
   </div>

</div>


{% endblock %} 

